<template>
    <div class="panel game-history">
        <h2>History of games</h2>
        <form v-on:submit.prevent="getGames">
            <table class="form-table">
                <tr>
                    <td><label for="date">Date: </label></td>
                    <td><input id="date" type="date" v-on:input="getGames" v-model="date" /></td>
                </tr>
            </table>
        </form>
        <div class="game-log-list">
            <div v-if="games.length === 0" class="panel">No games have been played during the selected day</div>

            <div v-for="game in games" :key="game.id" class="panel game-log">
                <h3>{{ game.name }}</h3>
                <strong>Participants:</strong> {{ game.players.join(", ") }}<br />
                <strong>Winners:</strong> {{ game.winners.join(", ") }}<br />
                <strong>End type:</strong> {{ endReasonName(game.endReason) }}<br />
                <hr />
                <strong>Created at:</strong> {{ game.created }}<br />
                <strong>Finished at:</strong> {{ game.finished }}<br />
            </div>
        </div>
        <div>
            <button v-on:click.prevent="$emit('requestclose')">Close</button>
        </div>
    </div>
</template>

<script>
const TODAY = new Date();

function pad(number, width = 2) {
    let result = String(number);
    while (result.length < width) {
        result = `0${result}`;
    }
    return result;
}

export default {
    name: "GameHistory",

    data: () => ({
        games: [],
        date: `${pad(TODAY.getUTCFullYear(), 4)}-${pad(TODAY.getUTCMonth() + 1)}-${pad(TODAY.getUTCDate())}`
    }),

    mounted() {
        this.getGames();
    },

    methods: {
        async getGames() {
            this.games = await this.$store.dispatch("Client/gameLog", this.date);
        },

        endReasonName(code) {
            switch (code) {
                case "PLAYER_WON":
                    return "N in a row";
                case "PLAYER_LEFT":
                    return "Player left";
                default:
                    return code;
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.panel.game-history {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    @media @large {
        margin: 40pt 80pt;
    }

    .game-log-list {
        flex-grow: 1;
        overflow-y: auto;

        border: 0.5pt solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.3) inset;

        .game-log {
            text-align: left;

            h3 {
                text-align: left;
                margin: 0 0 8pt 0;
            }

            hr {
                margin: 8pt 0;
            }
        }
    }
}
</style>