<template>
    <div class="game-list-wrapper">
        <div class="panel game-list">
            <h2>Public game rooms</h2>
            <div class="panel" v-if="Object.entries(rooms).length === 0">There are no public rooms</div>
            <div class="panel" v-for="(room, id) in rooms" :key="id">
                <h3>{{ room.name }}</h3>
                <strong>Players:</strong> {{ room.players }}/{{ room.maxPlayers }}<br />
                <strong>End score:</strong> {{ room.endScore }}<br />
                <button v-on:click.prevent="joinGame(id)">Join</button>
            </div>
        </div>
        <div class="panel control-panel">
            <button v-on:click.prevent="showGameLog = true">History of games</button>
            <button v-on:click.prevent="createGame">Create game</button>
        </div>
        <GameHistory v-if="showGameLog" v-on:requestclose="showGameLog = false" />
    </div>
</template>

<script>
import {Client} from "@/modules/Client";
import GameHistory from "@/components/GameHistory";

export default {
    name: "GameList",
    components: {GameHistory},
    data: () => ({
        rooms: {},
        subs: [],
        showGameLog: false
    }),

    methods: {
        createGame() {
            this.$store.dispatch("Client/createGame");
        },

        async joinGame(id) {
            await this.$store.dispatch("Client/joinGame", { id });
        }
    },

    async mounted() {
        let srvRooms = await this.$store.dispatch("Client/publicGames");
        srvRooms.forEach(room => this.$set(this.rooms, room.id, room));

        await this.$store.dispatch("Client/ensureStomp", () => {
            this.subs.push(Client.stomp.subscribe("/topic/lobby/room/published", async (message) => {
                let room = JSON.parse(message.body);
                this.$set(this.rooms, room.id, room);
            }));

            this.subs.push(Client.stomp.subscribe("/topic/lobby/room/depublished", async (message) => {
                let room = JSON.parse(message.body);
                this.$delete(this.rooms, room.id);
            }));
        });
    },

    beforeDestroy() {
        this.subs.forEach(sub => sub.unsubscribe());
    }
};
</script>

<style lang="less" scoped>
.game-list-wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.game-list {
    flex-grow: 1;
}

.control-panel {

}
</style>