<template>
    <div class="panel invitation">
        <h2>Invitation</h2>
        <p>You have been invited to game room <strong>{{ game.name }}</strong></p>
        <p>
            <button v-on:click.prevent="accept">Accept</button>
            <button v-on:click.prevent="reject">Reject</button>
        </p>
    </div>
</template>

<script>
export default {
    name: "Invitation",

    props: {
        game: Object
    },

    methods: {
        async accept() {
            await this.$store.dispatch("Client/acceptInvitation");
        },
        async reject() {
            await this.$store.dispatch("Client/rejectInvitation");
        }
    }
};
</script>

<style lang="less" scoped>
.panel.invitation {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
</style>