<template>
    <form class="form-table" v-on:submit.prevent="submitLogin">
        <table>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="email" id="email" v-model="email"></td>
            </tr>

            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" v-model="password"></td>
            </tr>
        </table>

        <input type="submit" value="Log in" :disabled="disabled">
    </form>
</template>

<script>
import {ClientError, LAST_EMAIL_KEY} from "@/modules/Client";

export default {
    name: "Login",
    data: () => ({
        email: localStorage.getItem(LAST_EMAIL_KEY) || "",
        password: "",
        disabled: false
    }),
    methods: {
        async submitLogin() {
            this.disabled = true;
            try {
                await this.$store.dispatch("Client/login", {email: this.email, password: this.password});
            } catch(e) {
                if (e instanceof ClientError) {
                    this.$store.dispatch("Notifier/error", e.message);
                } else {
                    throw e;
                }
            } finally {
                this.disabled = false;
            }
        }
    }
};
</script>

<style scoped>

</style>