<template>
    <div class="lobby">
        <UserSettings v-on:requestclose="userSettingsOpen = false" v-if="userSettingsOpen" />
        <UserAdmin v-on:requestclose="userAdminOpen = false" v-if="userAdminOpen" />

        <div class="side-panel">
            <div class="panel friends-panel">
                <h2>Friends</h2>
                <div class="user-list">
                    <div v-for="(user, id) in friends" :key="id" class="panel user-entry" :class="isOnline(id) ? 'online' : ''">
                        <div class="username">{{ user.displayName }}</div>
                        <a href="#" v-if="isInvitable(user)" v-on:click.prevent="invite(user.id)">Invite </a>
                        <a href="#" v-else v-on:click.prevent="removeFriend(user)" title="Remove from friend list">&bigotimes;</a>
                    </div>
                </div>
            </div>

            <div v-if="Object.keys(friendRequests).length > 0" class="panel friend-requests-panel">
                <h2>Friend requests</h2>
                <div class="user-list">
                    <div v-for="(user, id) in friendRequests" :key="id" class="panel user-entry" :class="isOnline(id) ? 'online' : ''">
                        <div class="username">{{ user.displayName }}</div>
                        <a href="#" v-on:click.prevent="acceptFriend(id)" title="Accept">&check;</a>
                        <a href="#" v-on:click.prevent="rejectFriend(id)" title="Reject">&cross;</a>
                    </div>
                </div>
            </div>

            <div class="panel user-panel">
                <h2>{{ $store.state.Client.currentUser.displayName }}</h2>
                <p v-if="$store.state.Client.currentUser.isAdmin" class="user-isadmin">
                    <a href="#" v-on:click.prevent="userAdminOpen = true">Administration</a>
                </p>
                <p>
                    <a href="#" v-on:click.prevent="userSettingsOpen = true">My settings</a>
                </p>
                <button v-on:click.prevent="submitLogout">Log out</button>
            </div>
        </div>

        <div class="side-panel">
            <div class="panel online-users-panel">
                <h2>Online users</h2>
                <div class="user-list">
                    <div v-for="(user, id) in onlineUsers" :key="id" class="panel user-entry online">
                        <div class="username">{{ user.displayName }}</div>
                        <a href="#" v-if="isInvitable(user)" v-on:click.prevent="invite(user.id)">Invite </a>
                        <a href="#" v-else-if="isFriendable(user)" v-on:click.prevent="addFriend(user.id)" title="Add to friend list">&bigstar;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="center-panel">
            <GameList v-if="game === null" />
            <RoomScreen ref="roomScreen" :game="game" v-if="game !== null" />
        </div>
    </div>
</template>

<script>
import {Client, ClientError} from "@/modules/Client";
import GameList from "@/components/GameList";
import RoomScreen from "@/components/RoomScreen";
import UserSettings from "@/components/UserSettings";
import UserAdmin from "@/components/admin/UserAdmin";

export default {
    name: "Lobby",

    components: {
        UserAdmin,
        UserSettings,
        RoomScreen,
        GameList
    },

    data: () => ({
        onlineUsers: {},
        friends: {},
        friendRequests: {},
        subs: [],
        game: null,
        userSettingsOpen: false,
        userAdminOpen: false
    }),

    methods: {
        submitLogout() {
            this.$store.dispatch('Client/logout');
        },

        isInvitable(user) {
            return (this.game !== null) && !this.isSelf(user) && this.isOnline(user.id);
        },

        isFriendable(user) {
            return (this.friends[user.id] === undefined) && !this.isSelf(user);
        },

        isOnline(id) {
            return this.onlineUsers[id] !== undefined;
        },

        isSelf(user) {
            return user.id === this.$store.state.Client.currentUser.id;
        },

        async invite(inviteeId) {
            try {
                await this.$store.dispatch("Client/createInvitation", {inviteeId});
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async addFriend(requesteeId) {
            try {
                await this.$store.dispatch("Client/createFriendRequest", {requesteeId});
                await this.$store.dispatch("Notifier/info", "Friend request sent");
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async removeFriend(user) {
            if (confirm(`Do you really wish to remove ${user.displayName} from your friends list?`)) {
                try {
                    await this.$store.dispatch("Client/removeFriend", {friendId: user.id});
                    await this.$store.dispatch("Notifier/info", "Friend removed");
                } catch (e) {
                    if (e instanceof ClientError) {
                        await this.$store.dispatch("Notifier/error", e.message);
                        return;
                    }

                    throw e;
                }
            }
        },

        async acceptFriend(requestorId) {
            try {
                await this.$store.dispatch("Client/acceptFriendRequest", {requestorId});
                await this.$store.dispatch("Notifier/info", "Friend request accepted");
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async rejectFriend(requestorId) {
            try {
                await this.$store.dispatch("Client/rejectFriendRequest", {requestorId});
                await this.$store.dispatch("Notifier/info", "Friend request rejected");
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },
    },

    async mounted() {
        await this.$store.dispatch("Client/ensureStomp", async () => {
            // Online users
            this.subs.push(Client.stomp.subscribe("/topic/lobby/user/connect", async (message) => {
                let user = JSON.parse(message.body).user;
                this.$set(this.onlineUsers, user.id, user);
            }));

            this.subs.push(Client.stomp.subscribe("/topic/lobby/user/disconnect", async (message) => {
                let user = JSON.parse(message.body).user;
                this.$delete(this.onlineUsers, user.id);
            }));


            // Friends
            this.subs.push(Client.stomp.subscribe("/user/topic/friends/made", async (message) => {
                let user = JSON.parse(message.body);
                this.$set(this.friends, user.id, user);
            }));

            this.subs.push(Client.stomp.subscribe("/user/topic/friends/removed", async (message) => {
                let user = JSON.parse(message.body);
                this.$delete(this.friends, user.id);
            }));

            this.subs.push(Client.stomp.subscribe("/user/topic/friends/request/created", async (message) => {
                let user = JSON.parse(message.body);
                this.$set(this.friendRequests, user.id, user);
            }));

            this.subs.push(Client.stomp.subscribe("/user/topic/friends/request/removed", async (message) => {
                let user = JSON.parse(message.body);
                this.$delete(this.friendRequests, user.id);
            }));


            // Games
            this.subs.push(Client.stomp.subscribe("/user/topic/lobby/join", async (message) => {
                this.game = JSON.parse(message.body).game;
            }));

            this.subs.push(Client.stomp.subscribe(`/user/topic/game/changed`, (message) => {
                this.game = JSON.parse(message.body);
            }));

            this.subs.push(Client.stomp.subscribe("/user/topic/game/leave", async (/*message*/) => {
                this.game = null;
            }));


            // Init requests
            (await this.$store.dispatch("Client/onlineUsers")).forEach(user => {
                this.$set(this.onlineUsers, user.id, user);
            });

            (await this.$store.dispatch("Client/friends")).forEach(user => {
                this.$set(this.friends, user.id, user);
            });

            (await this.$store.dispatch("Client/friendRequests")).forEach(user => {
                this.$set(this.friendRequests, user.id, user);
            });

            this.game = await this.$store.dispatch("Client/currentGame");
        });
    },

    beforeDestroy() {
        this.subs.forEach(sub => sub.unsubscribe());
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.lobby {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    flex-direction: column;

    overflow-y: auto;

    @media @medium {
        flex-direction: row;
        overflow-y: unset;
    }

    .side-panel {
        display: flex;
        flex-direction: column-reverse;

        @media @medium {
            flex-direction: column;
            flex-basis: 150pt;
            flex-grow: 0.06;
        }
    }

    .center-panel {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .friends-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .friend-requests-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .online-users-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .user-list {
        padding: 0;
        overflow-y: auto;
        flex-grow: 1;

        @media @medium {
            flex-basis: 10pt;
            border: 0.5pt solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.3) inset;
        }

        .user-entry {
            display: flex;
            flex-direction: row;
            text-align: left;

            .username {
                flex-grow: 1;
            }

            &.online .username {
                font-weight: bold;

                &:after {
                    margin-left: 2pt;
                    font-weight: bold;
                    color: #00DD00;
                    content: "‣";
                }
            }
        }
    }
}
</style>