<template>
    <transition name="notif-fade">
        <div class="notifier" v-if="$store.getters['Notifier/any']">
            <transition-group name="notif-collapse" tag="ul">
                <li
                    v-for="notification in $store.getters['Notifier/list']" :key="notification.id"
                    :class="`level-${notification.level}`">
                    <span class="notification-level">{{ displayLevel(notification.level) }}</span> {{ notification.message }}
                </li>
            </transition-group>

            <div class="clear-link">
                <a href="#" v-on:click.prevent="clear">Clear notifications</a>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "Notifier",
    computed: {
        displayLevel: () => (level) => {
            switch(level) {
                case "error":
                    return "Error";
                case "warn":
                    return "Warning";
                case "info":
                    return "Info";
                default:
                    return "";
            }
        }
    },
    methods: {
        clear() {
            this.$store.commit("Notifier/clear");
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.notifier {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: @main-bg;
    z-index: 100;

    border-style: solid;
    border-width: 2pt;
    border-color: rgba(210, 105, 30, 0.3);
    padding: 8pt;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        @fg-color: #007700;
        background-color: #CCFFCC;
        border-color: @fg-color;
        color: @fg-color;

        list-style: none;
        margin: 4pt 0;
        padding: 8pt;
        text-align: left;

        border-style: solid;
        border-width: 0.5pt;



        .notification-level:not(:empty) {
            font-weight: bold;
            margin-right: 8pt;
        }

        &.level-error {
            @fg-color: #CC0000;
            background-color: #FFCCCC;
            border-color: @fg-color;
            color: @fg-color;
        }

        &.level-warn {
            @fg-color: #AA3300;
            background-color: #FFDD88;
            border-color: @fg-color;
            color: @fg-color;
        }
    }

    .clear-link {
        text-align: right;
    }

    &.notif-fade-enter-active, &.notif-fade-leave-active {
        transition: all 300ms;
        overflow: hidden;
    }

    &.notif-fade-enter, &.notif-fade-leave-to {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .notif-collapse-enter-active, .notif-collapse-leave-active {
        transition: all 200ms ease;
        overflow-y: hidden;
    }

    .notif-collapse-enter, .notif-collapse-leave-to {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
    }
}
</style>