<template>
    <form class="form-table" v-on:submit.prevent="submitRegister">
        <h2>Registration</h2>
        <table>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="email" id="email" v-model="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" v-model="password"></td>
            </tr>
            <tr>
                <td><label for="password-confirm">Confirm password</label></td>
                <td><input type="password" id="password-confirm" v-model="passwordConfirm"></td>
            </tr>
            <tr>
                <td><label for="display-name">Display name</label></td>
                <td><input type="text" id="display-name" v-model="displayName"></td>
            </tr>
        </table>

        <input type="submit" :disabled="disabled" value="Register">
    </form>
</template>

<script>
import {ClientError} from "@/modules/Client";

export default {
    name: "Register",

    data: () => ({
        email: "",
        password: "",
        passwordConfirm: "",
        displayName: "",
        disabled: false
    }),

    methods: {
        async submitRegister() {
            if (this.password !== this.passwordConfirm) {
                await this.$store.dispatch("Notifier/error", "Passwords must be the same");
                return;
            }

            this.disabled = true;
            try {
                await this.$store.dispatch("Client/register", {
                    email: this.email,
                    password: this.password,
                    displayName: this.displayName
                });

                this.$emit("registered");
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                } else {
                    throw e;
                }
            } finally {
                this.disabled = false;
            }
        }
    }
};
</script>

<style scoped>

</style>