<template>
    <div ref="wrapperDiv" class="panel game-wrapper">
        <canvas ref="canvas"
                v-on:mousemove.prevent="mouseMove"
                v-on:wheel.prevent="mouseWheel"
                v-on:mousedown.prevent="mouseDown"
                v-on:mouseup.prevent="mouseUp"

                v-on:touchmove.prevent="touchMove"
                v-on:touchstart.prevent="touchStart"
                v-on:touchend.prevent="touchEnd"
        ></canvas>
    </div>
</template>

<script>
import {Client} from "@/modules/Client";

let gHexagon = new Image();
gHexagon.src = "/img/hexagon.png";

let gHexagonTick = new Image();
gHexagonTick.src = "/img/hexagon_tick.png";

let gHexagonMarker = new Image();
gHexagonMarker.src = "/img/hexagon_marker.png";

let gHexagonWinner = new Image();
gHexagonWinner.src = "/img/hexagon_winner.png";

const hexagonDiameter = 60;
const SQRT_3 = 1.7320508075688772;

const PLAYER_COLORS = [ "red", "lime", "blue", "cyan", "magenta", "yellow" ];

function getPlayerColor(int) {
    return PLAYER_COLORS[int % PLAYER_COLORS.length];
}

let recolorCanvas = document.createElement("canvas");

function recolorImage(image, colorStyle) {
    let cvs = recolorCanvas;
    let ctx = recolorCanvas.getContext("2d");

    cvs.width = image.width;
    cvs.height = image.height;

    ctx.clearRect(0, 0, cvs.width, cvs.height);
    ctx.drawImage(image, 0, 0);

    ctx.fillStyle = colorStyle;
    ctx.globalCompositeOperation = "source-in";
    ctx.fillRect(0, 0, cvs.width, cvs.height);

    return recolorCanvas;
}

function sqDist(x1, y1, x2, y2) {
    let dx = x2 - x1;
    let dy = y2 - y1;
    return (dx * dx) + (dy * dy);
}

function dist(x1, y1, x2, y2) {
    return Math.sqrt(sqDist(x1, y1, x2, y2));
}

function axialToXOffset(axialX, axialY) {
    return (SQRT_3 * axialX) / 2.0 + (SQRT_3 * axialY) / 4.0;
}

function axialToYOffset(axialX, axialY) {
    return (3.0 / 4.0) * axialY;
}

function offsetToXAxial(offsetX, offsetY) {
    return Math.round((2.0 / SQRT_3) * offsetX - (2.0 / 3.0) * offsetY);
}

function offsetToYAxial(offsetX, offsetY) {
    return Math.floor((4.0 / 3.0) * offsetY);
}

export default {
    name: "RoomGame",

    props: {
        game: Object
    },

    data: () => ({
        viewOffsetX: 0,
        viewOffsetY: 0,
        scale: 1.0,

        lastTouchX: -1,
        lastTouchY: -1,

        mouseOriginX: 0,
        mouseOriginY: 0,
        mouseX: 0,
        mouseY: 0,
        mouseAction: "PLAY",
        mouseClicked: false,

        field: {
            slotToInt: {},
            intToSlot: {},
            gameField: {},
            currentPlayer: 0,
            winners: [],
            winningPoints: []
        },

        subs: []
    }),

    async mounted() {
        this.updateCanvas();
        window.addEventListener("resize", this.updateCanvas);

        this.field = await this.$store.dispatch("Client/currentField");
        this.updateCanvas();

        await this.$store.dispatch("Client/ensureStomp", () => {
            this.subs.push(Client.stomp.subscribe("/user/topic/game/played", (message) => {
                this.field = JSON.parse(message.body);
                this.updateCanvas();
            }));
        });
    },

    beforeDestroy() {
        window.removeEventListener("resize", this.updateCanvas);
        this.subs.forEach(sub => sub.unsubscribe());
    },

    methods: {
        getSelf() {
            for (let player of this.game.players) {
                if (this.$store.state.Client.currentUser.id === player.user.id) {
                    return player;
                }
            }
            return null;
        },

        getSelfInt() {
            return this.field.slotToInt[this.getSelf().slotId];
        },

        getPlayerBySlot(slot) {
            for (let player of this.game.players) {
                if (player.slotId === slot) {
                    return player;
                }
            }
            return null;
        },

        updateCanvas() {
            this.$refs.canvas.width = this.$refs.canvas.offsetWidth;
            this.$refs.canvas.height = this.$refs.canvas.offsetHeight;
            requestAnimationFrame(this.paint);
        },

        touchMove(event) {
            if (event.touches.length === 1) {
                console.log("touchmove");
                let touch = event.touches[0];
                let mouseEvent = new MouseEvent("mousemove", {
                    button: 0,
                    clientX: touch.clientX,
                    clientY: touch.clientY,
                    movementX: touch.clientX - this.lastTouchX,
                    movementY: touch.clientY - this.lastTouchY
                });
                this.lastTouchX = touch.clientX;
                this.lastTouchY = touch.clientY;
                this.$refs.canvas.dispatchEvent(mouseEvent);
            }
        },

        touchStart(event) {
            if (event.touches.length === 1) {
                let touch = event.touches[0];
                this.lastTouchX = touch.clientX;
                this.lastTouchY = touch.clientY;

                let mouseEventMove = new MouseEvent("mousemove", {
                    button: 0,
                    clientX: touch.clientX,
                    clientY: touch.clientY,
                    movementX: 0,
                    movementY: 0
                });
                this.$refs.canvas.dispatchEvent(mouseEventMove);

                let mouseEvent = new MouseEvent("mousedown", {
                    button: 0,
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                this.$refs.canvas.dispatchEvent(mouseEvent);
            }
        },

        touchEnd() {
            let mouseEvent = new MouseEvent("mouseup", {
                button: 0,
                clientX: this.lastTouchX,
                clientY: this.lastTouchY
            });
            this.$refs.canvas.dispatchEvent(mouseEvent);
        },

        mouseMove(event) {
            this.mouseX = event.offsetX;
            this.mouseY = event.offsetY;

            if (this.mouseClicked && dist(this.mouseX, this.mouseY, this.mouseOriginX, this.mouseOriginY) > 30) {
                this.mouseAction = "MOVE";
            }

            if (this.mouseAction === "MOVE") {
                this.viewOffsetX += event.movementX;
                this.viewOffsetY += event.movementY;
            }

            this.updateCanvas();
        },

        mouseWheel(event) {
            if (event.deltaY > 0) {
                this.scale -= 0.2;
            } else {
                this.scale += 0.2;
            }
            if (this.scale < 0.4) {
                this.scale = 0.4;
            } else if (this.scale > 4.0) {
                this.scale = 4.0;
            }

            this.updateCanvas();
        },

        mouseDown(event) {
            this.mouseClicked = true;
            this.mouseOriginX = event.offsetX;
            this.mouseOriginY = event.offsetY;
        },

        mouseUp(event) {
            if (this.mouseAction === "PLAY" && event.button === 0 && this.field.currentPlayer === this.getSelfInt() && this.game.state === 'IN_GAME') {
                let gameMouseX = this.screenToGame(this.mouseX, this.$refs.canvas.width, this.viewOffsetX, this.scale);
                let gameMouseY = this.screenToGame(this.mouseY, this.$refs.canvas.height, this.viewOffsetY, this.scale);
                let activeHexX = offsetToXAxial(gameMouseX, gameMouseY);
                let activeHexY = offsetToYAxial(gameMouseX, gameMouseY);

                Client.stomp.publish({
                    destination: "/app/game/play",
                    body: JSON.stringify({
                        x: activeHexX,
                        y: activeHexY
                    })
                });
            }

            this.mouseAction = "PLAY";
            this.mouseClicked = false;
        },

        paint() {
            let cvs = this.$refs.canvas;
            let ctx = cvs.getContext("2d");

            ctx.fillStyle = "#333333";
            ctx.fillRect(0, 0, cvs.width, cvs.height);

            let gameMouseX = this.screenToGame(this.mouseX, cvs.width, this.viewOffsetX, this.scale);
            let gameMouseY = this.screenToGame(this.mouseY, cvs.height, this.viewOffsetY, this.scale);
            let activeHexX = offsetToXAxial(gameMouseX, gameMouseY);
            let activeHexY = offsetToYAxial(gameMouseX, gameMouseY);

            let leftXOffset = this.screenToGame(0, cvs.width, this.viewOffsetX, this.scale) - 1;
            let topYOffset = this.screenToGame(0, cvs.height, this.viewOffsetY, this.scale) - 1;
            let rightXOffset = this.screenToGame(cvs.width, cvs.width, this.viewOffsetX, this.scale) + 1;
            let bottomYOffset = this.screenToGame(cvs.height, cvs.height, this.viewOffsetY, this.scale) + 1;
            let tlyAxial = offsetToYAxial(leftXOffset, topYOffset);
            let trxAxial = offsetToXAxial(rightXOffset, topYOffset);
            let blxAxial = offsetToXAxial(leftXOffset, bottomYOffset);
            let bryAxial = offsetToYAxial(rightXOffset, bottomYOffset);

            for (let x = blxAxial; x <= trxAxial; x++) {
                for (let y = tlyAxial; y <= bryAxial; y++) {
                    let topLeftX = this.gameToScreen(axialToXOffset(x, y), cvs.width, this.viewOffsetX, this.scale);
                    let topLeftY = this.gameToScreen(axialToYOffset(x, y), cvs.height, this.viewOffsetY, this.scale);

                    ctx.drawImage(gHexagon, topLeftX, topLeftY, hexagonDiameter * this.scale, hexagonDiameter * this.scale);

                    let player = this.field.gameField[`${x} ${y}`];
                    if (player !== undefined) {
                        let playerColor = getPlayerColor(player);
                        let rcl = recolorImage(gHexagonTick, playerColor);
                        ctx.drawImage(rcl, topLeftX, topLeftY, hexagonDiameter * this.scale, hexagonDiameter * this.scale);
                    }

                    if (this.game.state === 'FINISHED' && this.field.winningPoints.indexOf(`${x} ${y}`) >= 0) {
                        ctx.drawImage(gHexagonWinner, topLeftX, topLeftY, hexagonDiameter * this.scale, hexagonDiameter * this.scale);
                    }

                    let self = this.getSelfInt();
                    if (this.mouseAction === "PLAY" && this.field.currentPlayer === self && this.game.state === 'IN_GAME' && x === activeHexX && y === activeHexY) {
                        let rcl = recolorImage(gHexagonMarker, getPlayerColor(self));
                        ctx.drawImage(rcl, topLeftX, topLeftY, hexagonDiameter * this.scale, hexagonDiameter * this.scale);
                    }
                }
            }

            let color = "#FFFFFF";
            let text = "";
            if (this.game.state === "IN_GAME") {
                color = getPlayerColor(this.field.currentPlayer);
                let slot = this.field.intToSlot[this.field.currentPlayer];
                let player = this.getPlayerBySlot(slot);
                if (player !== null) {
                    let name = player.user.displayName;
                    text = `${name} is playing`;
                }
            } else if (this.game.state === "FINISHED") {
                if (this.field.winners.length === 0) {
                    color = "#FFFFFF";
                    text = "That is a weird draw O.o";
                } else if (this.field.winners.length === 1) {
                    color = getPlayerColor(this.field.winners[0]);
                    let slot = this.field.intToSlot[this.field.winners[0]];
                    let player = this.getPlayerBySlot(slot);
                    if (player !== null) {
                        let name = player.user.displayName;
                        text = `${name} has won!`;
                    }
                } else {
                    color = "#FFFFFF";
                    text = "Draw! Someone has left prematurely.";
                }
            }

            ctx.fillStyle = color;
            ctx.strokeStyle = color;
            ctx.lineWidth = 8;
            ctx.strokeRect(0, 0, cvs.width, cvs.height);

            ctx.textAlign = "left";
            ctx.textBaseline = "top";
            ctx.font = "16pt Roboto";
            ctx.strokeStyle = "#000000";
            ctx.lineWidth = 2;
            ctx.lineCap = "round";
            ctx.lineJoin = "round";
            let margin = 12;
            ctx.strokeText(text, margin, margin);
            ctx.fillText(text, margin, margin);
        },

        gameToScreen(v, contentSize, viewOffset, scale) {
            return (viewOffset * scale) + v * (hexagonDiameter * scale) + ((contentSize - (hexagonDiameter * scale)) / 2);
        },

        screenToGame(v, contentSize, viewOffset, scale) {
            return (v - (viewOffset * scale) - ((contentSize - (hexagonDiameter * scale)) / 2)) / (hexagonDiameter * scale);
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.panel.game-wrapper {
    flex-grow: 1;
    flex-basis: 1pt;
    padding: 0;
    overflow: hidden;

    canvas {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
</style>