<template>
    <div class="room-screen" :class="game.state !== 'SETTING' ? 'room-ingame' : ''">
        <div class="room-center">
            <Invitation v-if="selfState() === 'INVITED'" :game="game" />
            <RoomSettings v-else-if="game.state === 'SETTING'" ref="settings" :game="game"/>
            <RoomGame v-else :game="game" />

            <div class="panel">
                <h2>Players in room</h2>
                <div class="player-list">
                    <div v-for="player in game.players" :key="player.id" class="panel player">
                        <div class="player-name">{{ player.user.displayName }}</div>
                        <div class="player-state" v-if="game.state === 'SETTING'">{{ stateName(player.state) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <button v-on:click.prevent="leaveGame">Leave game</button>
        </div>
    </div>
</template>

<script>
import RoomSettings from "@/components/RoomSettings";
import RoomGame from "@/components/RoomGame";
import Invitation from "@/components/Invitation";

export default {
    name: "RoomScreen",
    components: {Invitation, RoomGame, RoomSettings},

    props: {
        game: null
    },

    methods: {
        async leaveGame() {
            await this.$store.dispatch("Client/leaveGame");
        },

        selfState() {
            let selfId = this.$store.state.Client.currentUser.id;
            for (let player of this.game.players) {
                if (player.user.id === selfId) {
                    return player.state;
                }
            }

            return "NOT_READY";
        },

        stateName(state) {
            switch (state) {
                case "INVITED":
                    return "Invited";
                case "NOT_READY":
                    return "Not ready";
                case "READY":
                    return "Ready!";
                default:
                    return state;
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.room-screen {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    &.room-ingame {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: @main-bg;
    }

    @media @medium {
        &.room-ingame {
            position: unset;
            top: unset;
            bottom: unset;
            left: unset;
            right: unset;
            background: unset;
        }
    }

    .room-center {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media @medium {
            flex-basis: 20pt;
            overflow: hidden;
        }

        @media @large {
            flex-direction: row;
        }
    }

    .player-list {
        .player {
            display: flex;
            flex-direction: row;

            .player-name {
                flex-grow: 1;
                text-align: left;
                font-weight: bold;
            }
            .player-state {
                text-align: right;
            }
        }
    }
}
</style>