<!--suppress XmlDuplicatedId -->
<template>
    <div class="panel room-settings">
        <h2>{{ game.name }}</h2>
        <div class="form-wrapper">
            <form class="room-form" v-on:submit.prevent="">
                <table class="form-table">
                    <tr>
                        <td>Owner</td>
                        <td>{{ game.owner && game.owner.displayName }}</td>
                    </tr>
                    <tr>
                        <td><label for="room-name">Room name</label></td>
                        <td>
                            <input v-if="isOwner()" id="room-name" type="text" v-model="gameName" v-on:input="changeName" />
                            <input v-else id="room-name" type="text" v-model="game.name" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="max-players">Number of players</label></td>
                        <td>
                            <input v-if="isOwner()" id="max-players" type="number" v-model="maxPlayers" :min="game.players.length" max="4" v-on:input="changeMaxPlayers" />
                            <input v-else id="max-players" type="number" v-model="game.maxPlayers" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="end-score">End score</label></td>
                        <td>
                            <input v-if="isOwner()" id="end-score" type="number" v-model="endScore" min="3" max="8" v-on:input="changeEndScore" />
                            <input v-else id="end-score" type="number" v-model="game.endScore" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>Visibility</td>
                        <td v-if="isOwner()">
                            <toggle-button :checked="game.visibility === 'PUBLIC'" v-on:click="setPublic">
                                Public
                            </toggle-button>
                            <toggle-button :checked="game.visibility === 'PRIVATE'" v-on:click="setPrivate">
                                Private
                            </toggle-button>
                        </td>
                        <td v-else>
                            <toggle-button :checked="game.visibility === 'PUBLIC'" disabled>
                                Public
                            </toggle-button>
                            <toggle-button :checked="game.visibility === 'PRIVATE'" disabled>
                                Private
                            </toggle-button>
                        </td>
                    </tr>
                </table>
            </form>

            <div class="room-controls">
                <toggle-button
                    :checked="amReady()"
                    v-on:click="toggleReady"
                    :disabled="readyDisabled()"
                    :title="readyTitle()">
                    Ready
                </toggle-button>
            </div>
        </div>
    </div>
</template>

<script>
import {Client} from "@/modules/Client";
import ToggleButton from "@/components/ui/ToggleButton";

export default {
    name: "RoomSettings",
    components: {ToggleButton},
    props: {
        game: Object
    },

    data: () => ({
        gameName: "",
        maxPlayers: 2,
        endScore: 5,
        subs: [],
        wasOwner: false
    }),

    mounted() {
        if (this.isOwner()) {
            this.updateModel();
        }
    },

    methods: {
        isOwner() {
            let isOwnerNow = this.game.owner && this.game.owner.id === this.$store.state.Client.currentUser.id;
            if (isOwnerNow && !this.wasOwner) {
                this.updateModel();
            }
            this.wasOwner = isOwnerNow;
            return isOwnerNow;
        },

        getSelf() {
            for (let player of this.game.players) {
                if (this.$store.state.Client.currentUser.id === player.user.id) {
                    return player;
                }
            }
            return null;
        },

        amReady() {
            return this.getSelf().state === 'READY';
        },

        toggleReady() {
            Client.stomp.publish({
                destination: "/app/game/self/set-ready",
                body: JSON.stringify({ ready: !this.amReady() })
            });
        },

        readyDisabled() {
            return this.game.maxPlayers !== this.game.players.length;
        },

        readyTitle() {
            if (this.readyDisabled()) {
                return "Not enough players to start the game";
            }

            return "";
        },

        updateModel() {
            this.gameName = this.game.name;
            this.maxPlayers = this.game.maxPlayers;
            this.endScore = this.game.endScore;
        },

        changeName() {
            Client.stomp.publish({
                destination: "/app/game/set-name",
                body: JSON.stringify({
                    name: this.gameName
                })
            });
        },

        changeMaxPlayers() {
            Client.stomp.publish({
                destination: "/app/game/set-max-players",
                body: JSON.stringify({
                    maxPlayers: this.maxPlayers
                })
            });
        },

        changeEndScore() {
            Client.stomp.publish({
                destination: "/app/game/set-end-score",
                body: JSON.stringify({
                    endScore: this.endScore
                })
            });
        },

        setPublic() {
            Client.stomp.publish({
                destination: "/app/game/set-visibility",
                body: JSON.stringify({
                    public: true
                })
            });
        },

        setPrivate() {
            Client.stomp.publish({
                destination: "/app/game/set-visibility",
                body: JSON.stringify({
                    public: false
                })
            });
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.room-settings {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    @media @medium {
        overflow-y: auto;
    }

    .form-wrapper {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        .room-form {
            flex-grow: 1;
            display: block;
        }
    }
}
</style>