<template>
    <div class="panel user-settings-window">
        <h2>User settings</h2>
        <div class="settings-form">
            <form v-on:submit.prevent="">
                <table class="form-table">
                    <tr>
                        <td><label for="current-password">Current password</label></td>
                        <td><input id="current-password" type="password" v-model="currentPassword" /></td>
                    </tr>
                </table>
            </form>
            <hr />
            <form v-on:submit.prevent="changePassword">
                <table class="form-table">
                    <tr>
                        <td><label for="new-password">New password</label></td>
                        <td><input id="new-password" type="password" v-model="newPassword" /></td>
                    </tr>
                    <tr>
                        <td><label for="new-password-confirm">Confirm new password</label></td>
                        <td><input id="new-password-confirm" type="password" v-model="newPasswordConfirm" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change password" />
            </form>
            <hr />
            <form v-on:submit.prevent="changeEmail">
                <table class="form-table">
                    <tr>
                        <td><label for="new-email">New e-mail</label></td>
                        <td><input id="new-email" type="email" v-model="newEmail" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change e-mail" />
            </form>
            <hr />
            <form v-on:submit.prevent="changeDisplayName">
                <table class="form-table">
                    <tr>
                        <td><label for="new-display-name">New display name</label></td>
                        <td><input id="new-display-name" type="text" v-model="newDisplayName" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change display name" />
            </form>
        </div>
        <div>
            <button v-on:click.prevent="$emit('requestclose')">Close</button>
        </div>
    </div>
</template>

<script>
import {ClientError} from "@/modules/Client";

export default {
    name: "UserSettings",

    data: () => ({
        currentPassword: "",
        newPassword: "",
        newPasswordConfirm: "",
        newEmail: "@",
        newDisplayName: ""
    }),

    mounted() {
        this.newEmail = this.$store.state.Client.currentUser.email;
        this.newDisplayName = this.$store.state.Client.currentUser.displayName;
    },

    methods: {
        async changePassword() {
            if (this.currentPassword === "") {
                await this.$store.dispatch("Notifier/error", "Current password must be filled in");
                return;
            }

            if (this.newPassword !== this.newPasswordConfirm) {
                await this.$store.dispatch("Notifier/error", "New passwords must be the same");
                return;
            }

            try {
                await this.$store.dispatch("Client/changePassword", {
                    oldPassword: this.currentPassword,
                    newPassword: this.newPassword
                });

                this.currentPassword = this.newPassword;
                this.newPassword = "";
                this.newPasswordConfirm = "";
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async changeEmail() {
            if (this.currentPassword === "") {
                await this.$store.dispatch("Notifier/error", "Current password must be filled in");
                return;
            }

            try {
                await this.$store.dispatch("Client/changeEmail", {
                    password: this.currentPassword,
                    newEmail: this.newEmail
                });
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async changeDisplayName() {
            if (this.currentPassword === "") {
                await this.$store.dispatch("Notifier/error", "Current password must be filled in");
                return;
            }

            try {
                await this.$store.dispatch("Client/changeDisplayName", {
                    password: this.currentPassword,
                    newDisplayName: this.newDisplayName
                });
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../assets/globals";

.panel.user-settings-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @media @medium {
        margin: 40pt 80pt;
    }

    .settings-form {
        flex-grow: 1;
    }
}
</style>