<template>
    <div class="welcome-screen">
        <img alt="Hexaskvorky logo" src="@/assets/hexaskvorky-icon.svg">
        <div class="form-box">
            <component :is="component" v-on:registered="goToLogin" />
        </div>
        <a href="#" v-on:click="goToRegister" v-show="component === 'Login'">Register a new account</a>
        <a href="#" v-on:click="goToLogin" v-show="component === 'Register'">Go back to login</a>
    </div>
</template>

<script>
import Login from "@/components/Login";
import Register from "@/components/Register";

export default {
    name: "WelcomeScreen",
    components: { Login, Register },

    data: () => ({
        component: "Login"
    }),

    methods: {
        goToRegister() {
            this.component = "Register";
        },
        goToLogin() {
            this.component = "Login";
        }
    },

    mounted() {
        this.$store.dispatch("Client/ping");
    }
};
</script>

<style lang="less" scoped>
.welcome-screen {
    padding: 8pt;

    .form-box {
        margin: 10pt auto;
    }
}
</style>