@main-bg: #ffe3be;
@main-fg: #50362c;
@main-accent: #D2691E;
@main-button-bg: #FDDCA0;
@main-button-bg-hover: #FAE9DA;

@medium: ~"(min-width: 20cm)";
@large: ~"(min-width: 30cm)";

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  @media @medium {
    margin: 10pt;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333333;
}

* {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: @main-accent transparent;
  scrollbar-width: thin;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @main-accent;

  &:hover:not(.disabled) { text-decoration: underline; }
  &.disabled { cursor: not-allowed; }
}

h1, h2, h3, h4, h5, h6 {
  margin: 6pt 0;

  @media @large {
    margin: 16pt;
  }

  text-align: center;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 2pt solid @main-accent;
  opacity: 0.3;
  margin: 20pt 80pt;
}

.panel {
  padding: 8pt;
  margin: 4pt;
  border: 0.5pt solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1.5pt 0 rgba(0, 0, 0, 0.35);
  background: @main-bg;
  list-style: none;
}

.form-table tr td {
  text-align: left;

  &:first-child {
    padding-right: 10pt;
    padding-left: 10pt;
    width: 1pt;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }
}

input:not([type="submit"]), table {
  width: 100%;
}

input {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="date"] {
    border: 2pt none @main-accent;
    border-bottom-style: solid;
    background: rgba(255, 255, 255, 0.5);
    padding: 8pt;
    margin: 2pt;

    box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.2) inset;
  }
}

input[type="submit"], button {
  border: none;
  padding: 8pt 16pt;
  box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.2);
  margin: 8pt 2pt;

  background: @main-button-bg;
  color: @main-accent;
  font-size: inherit;
  font-weight: bold;

  &:hover:not(:disabled) {
    background: @main-button-bg-hover;
    cursor: pointer;
  }

  &:active:not(:disabled) {
    box-shadow: none;
  }
}

*:disabled, *.disabled {
  color: rgba(210, 105, 30, 0.5);
  box-shadow: none;
}
