<template>
    <div class="panel user-admin-window">
        <UserEdit v-if="editedUser !== null" v-on:requestclose="editedUser = null" :user="editedUser" />

        <h2>User administration</h2>
        <div class="user-list">
            <div class="panel user-item" v-for="user in users" :key="user.id">
                <div class="user-name">
                    <span v-if="user.isAdmin" title="Administrator">&starf; </span>
                    <strong>{{ user.email }}</strong> ({{ user.displayName }})
                </div>
                <div>
                    <a
                        :class="(user.id === $store.state.Client.currentUser.id) ? 'disabled' : ''"
                        href="#"
                        v-on:click.prevent="editUser(user)"
                    >Edit</a>
                </div>
            </div>
            <button v-if="loadMoreAllowed" v-on:click.prevent="loadMoreUsers">Load more</button>
        </div>
        <div><button v-on:click.prevent="$emit('requestclose')">Close</button></div>
    </div>
</template>

<script>
import UserEdit from "@/components/admin/UserEdit";

export default {
    name: "UserAdmin",
    components: {UserEdit},
    data: () => ({
        users: [],
        page: 0,
        loadMoreAllowed: false,
        editedUser: null
    }),

    async mounted() {
        await this.loadMoreUsers();
    },

    methods: {
        async loadMoreUsers() {
            this.loadMoreAllowed = false;

            let response = await this.$store.dispatch("Client/adminLoadUsers", this.page);
            if (response.users.length > 0) {
                response.users.forEach(user => this.users.push(user));
                this.loadMoreAllowed = true;
            }

            this.page++;
        },

        editUser(user) {
            if (user.id === this.$store.state.Client.currentUser.id) {
                this.$store.dispatch("Notifier/error", "You cannot edit your own account info in " +
                    "the administration. Please do that from the My Settings page.");
                return;
            }

            this.editedUser = user;
        }
    }
};
</script>

<style lang="less" scoped>
@import "../../assets/globals";

.panel.user-admin-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @media @medium {
        margin: 40pt 80pt;
    }

    .user-list {
        flex-grow: 1;
        overflow-y: auto;

        border: 0.5pt solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.3) inset;

        .panel.user-item {
            display: flex;

            .user-name {
                flex-grow: 1;
                text-align: left;
            }
        }
    }
}
</style>