<template>
    <div class="panel user-edit-window">
        <h2>User <strong>{{ user.displayName }}</strong></h2>
        <div class="edit-form">
            <form v-on:submit.prevent="changePassword">
                <table class="form-table">
                    <tr>
                        <td><label for="new-password">Password</label></td>
                        <td><input id="new-password" type="password" v-model="newPassword" /></td>
                    </tr>
                    <tr>
                        <td><label for="new-password-confirm">Confirm password</label></td>
                        <td><input id="new-password-confirm" type="password" v-model="newPasswordConfirm" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change password" />
            </form>
            <hr />
            <form v-on:submit.prevent="changeEmail">
                <table class="form-table">
                    <tr>
                        <td><label for="new-email">E-mail</label></td>
                        <td><input id="new-email" type="email" v-model="newEmail" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change e-mail" />
            </form>
            <hr />
            <form v-on:submit.prevent="changeDisplayName">
                <table class="form-table">
                    <tr>
                        <td><label for="new-display-name">Display name</label></td>
                        <td><input id="new-display-name" type="text" v-model="newDisplayName" /></td>
                    </tr>
                </table>
                <input type="submit" value="Change display name" />
            </form>
            <hr />
            <table class="form-table">
                <tr>
                    <td>User type</td>
                    <td>
                        <toggle-button :checked="!user.isAdmin" v-on:click="setAdmin(false)">Regular user</toggle-button>
                        <toggle-button :checked="user.isAdmin" v-on:click="setAdmin(true)">Administrator</toggle-button>
                    </td>
                </tr>
            </table>

        </div>
        <div><button v-on:click.prevent="$emit('requestclose')">Close</button></div>
    </div>
</template>

<script>
import ToggleButton from "@/components/ui/ToggleButton";
import {ClientError} from "@/modules/Client";
export default {
    name: "UserEdit",
    components: {ToggleButton},
    props: {
        user: Object
    },

    data: () => ({
        newPassword: "",
        newPasswordConfirm: "",
        newEmail: "@",
        newDisplayName: ""
    }),

    mounted() {
        this.newEmail = this.user.email;
        this.newDisplayName = this.user.displayName;
    },

    methods: {
        async changePassword() {
            if (this.newPassword !== this.newPasswordConfirm) {
                await this.$store.dispatch("Notifier/error", "Passwords must be the same");
                return;
            }

            try {
                await this.$store.dispatch("Client/adminChangePassword", {
                    userId: this.user.id,
                    newPassword: this.newPassword
                });

                this.newPassword = "";
                this.newPasswordConfirm = "";
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async changeEmail() {
            try {
                let data = await this.$store.dispatch("Client/adminChangeEmail", {
                    userId: this.user.id,
                    newEmail: this.newEmail
                });

                this.user.email = data.email;
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async changeDisplayName() {
            try {
                let data = await this.$store.dispatch("Client/adminChangeDisplayName", {
                    userId: this.user.id,
                    newDisplayName: this.newDisplayName
                });

                this.user.displayName = data.displayName;
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        },

        async setAdmin(state) {
            try {
                let data = await this.$store.dispatch("Client/adminSetAdmin", {
                    userId: this.user.id,
                    admin: state
                });

                this.user.isAdmin = data.isAdmin;
            } catch (e) {
                if (e instanceof ClientError) {
                    await this.$store.dispatch("Notifier/error", e.message);
                    return;
                }

                throw e;
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../../assets/globals";

.panel.user-edit-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @media @medium {
        margin: 50pt 120pt;
    }

    .edit-form {
        flex-grow: 1;
    }
}
</style>