<template>
    <button
        class="toggle-button"
        :class="checked ? 'checked' : ''"
        :disabled="disabled"
        v-on:click.prevent="$emit('click')">

        <slot />
    </button>
</template>

<script>
export default {
    name: "ToggleButton",

    props: {
        checked: Boolean,
        disabled: Boolean
    }
};
</script>

<style lang="less" scoped>
@import "../../assets/globals";

.toggle-button {
    &.checked {
        border: 2pt solid @main-accent;
        background-color: @main-button-bg-hover;
        box-shadow: none;
    }
}
</style>