<template>
    <div id="app" :class="$store.getters['Client/isAuthenticated'] ? 'fullscreen' : ''">
        <NotificationArea />
        <div class="main-wrapper">
            <component :is="shownComponent" />
        </div>
    </div>
</template>

<script>
import NotificationArea from "@/components/NotificationArea";
import WelcomeScreen from "@/components/WelcomeScreen";
import MainScreen from "@/components/MainScreen";

export default {
    name: 'App',

    computed: {
        shownComponent() {
            return (this.$store.getters["Client/isAuthenticated"]) ? "MainScreen" : "WelcomeScreen";
        }
    },

    components: { NotificationArea, WelcomeScreen, MainScreen },

    async beforeCreate() {
        await this.$store.dispatch("Client/init");
    }
};
</script>

<style lang="less">
@import "assets/globals";

#app {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;

    &.fullscreen {
        align-self: stretch;
        justify-self: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        height: 100%;
    }

    text-align: center;

    background: @main-bg;
    color: @main-fg;
    box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.5);

    padding: 0;

    @media @medium {
        padding: 16pt;
    }

    .main-wrapper {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        overflow-y: auto;

        @media @medium {
            overflow-y: unset;
        }
    }
}
</style>
